<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>MariaFlor</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'admins_backoffice' %>
</head>

<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col menu_fixed">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
          <%= link_to admins_backoffice_inicio_index_path, class: 'site_title' do %>
            <span>Maria Flor</span>
          <% end %>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <%= render 'layouts/menu_lateral/menu_profile' %>
        <!-- /menu profile quick info -->

        <br/>

        <!-- /menu principal -->
        <%= render 'layouts/menu_lateral/menu_principal' %>
        <!-- /menu principal -->

        <!-- /menu footer buttons -->
        <%= render 'layouts/menu_lateral/menu_footer' %>
        <!-- /menu footer buttons -->
      </div>
    </div>

    <!-- top navigation -->
    <%= render 'layouts/top_navigation/navigation_principal' %>
    <!-- /top navigation -->

    <!-- page content -->
    <%= render 'layouts/conteudo/page_content' %>
    <!-- /page content -->

    <!-- footer content -->
    <%= render 'layouts/footer/principal' %>
    <!-- /footer content -->
  </div>
</div>
<%= javascript_include_tag 'application' %>
<%= javascript_include_tag 'admins_backoffice' %>

</body>
</html>

